In [301]:
import datetime
import pandas as pd

In [302]:
d=""

In [303]:
def scrip_lastyear(stockcode):
    import datetime
    import pandas as pd
    ts1 = str(int(datetime.datetime(2021, 5, 1).timestamp())) 
    ts2 = str(int(datetime.datetime(2022, 12, 4).timestamp()))

    interval = '1d'
    #interval = '1wk'
    #interval = '1mo'

    events = 'history'
    #events = 'div'
    #events = 'split'

    url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
          + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
          + interval + '&events=' + events

    df = pd.read_csv(url)
    
    df.insert(1,'Symbol',"")
    df['Symbol']=stockcode
    df = df.reset_index(drop=True)

    return df
    
    #print (ts1, ts2)

In [304]:
scrip_lastyear("SBIN")

,Date,Symbol,Open,High,Low,Close,Adj Close,Volume
0,2021-05-03,SBIN,349.600006,352.500000,341.399994,350.600006,342.054565,43691860
1,2021-05-04,SBIN,355.000000,362.899994,350.200012,351.500000,342.932617,57749307
2,2021-05-05,SBIN,356.500000,357.450012,348.000000,355.399994,346.737549,40872501
3,2021-05-06,SBIN,358.000000,359.350006,350.549988,355.549988,346.883881,36294427
4,2021-05-07,SBIN,357.500000,362.000000,353.000000,358.250000,349.518097,38357618
...,...,...,...,...,...,...,...,...
391,2022-11-28,SBIN,605.599976,610.900024,602.349976,608.599976,608.599976,7934274
392,2022-11-29,SBIN,607.099976,611.799988,607.099976,608.549988,608.549988,6942919
393,2022-11-30,SBIN,608.500000,611.400024,598.400024,602.450012,602.450012,15606230
394,2022-12-01,SBIN,607.849976,609.799988,601.549988,608.099976,608.099976,14209313
395,2022-12-02,SBIN,607.500000,609.599976,604.250000,607.549988,607.549988,7533838

In [305]:
type(scrip_lastyear("SBIN"))

pandas.core.frame.DataFrame

In [306]:
ls=pd.read_excel("nifty_Symbols.xlsx")

In [307]:
print(type(ls))

<class 'pandas.core.frame.DataFrame'>

In [308]:
ls=ls.squeeze()
print(type(ls))

<class 'pandas.core.series.Series'>

In [309]:
range(len(ls))

range(0, 49)

In [310]:
ls[0]

'ADANIPORTS'

In [311]:
scrip_lastyear(ls[0])

,Date,Symbol,Open,High,Low,Close,Adj Close,Volume
0,2021-05-03,ADANIPORTS,727.650024,764.000000,713.750000,761.400024,750.901001,25953577
1,2021-05-04,ADANIPORTS,779.849976,782.000000,760.049988,768.750000,758.149658,31400296
2,2021-05-05,ADANIPORTS,772.000000,774.799988,732.700012,738.099976,727.922302,29426971
3,2021-05-06,ADANIPORTS,745.000000,753.700012,735.599976,740.799988,730.585083,11926793
4,2021-05-07,ADANIPORTS,747.700012,778.000000,745.250000,767.750000,757.163452,20782117
...,...,...,...,...,...,...,...,...
391,2022-11-28,ADANIPORTS,876.000000,885.250000,873.500000,878.599976,878.599976,4168244
392,2022-11-29,ADANIPORTS,878.000000,891.799988,874.650024,878.200012,878.200012,3663099
393,2022-11-30,ADANIPORTS,878.900024,884.150024,873.299988,881.000000,881.000000,3797377
394,2022-12-01,ADANIPORTS,884.750000,896.500000,882.000000,890.549988,890.549988,4491806
395,2022-12-02,ADANIPORTS,894.000000,903.599976,884.250000,888.200012,888.200012,6279538

In [312]:
print(pd.concat([scrip_lastyear(ls[0]),scrip_lastyear(ls[1])]))

           Date      Symbol         Open         High          Low  \
0    2021-05-03  ADANIPORTS   727.650024   764.000000   713.750000
1    2021-05-04  ADANIPORTS   779.849976   782.000000   760.049988
2    2021-05-05  ADANIPORTS   772.000000   774.799988   732.700012
3    2021-05-06  ADANIPORTS   745.000000   753.700012   735.599976
4    2021-05-07  ADANIPORTS   747.700012   778.000000   745.250000
..          ...         ...          ...          ...          ...
391  2022-11-28  ASIANPAINT  3108.149902  3159.000000  3096.699951
392  2022-11-29  ASIANPAINT  3157.000000  3169.000000  3127.149902
393  2022-11-30  ASIANPAINT  3139.899902  3199.949951  3133.300049
394  2022-12-01  ASIANPAINT  3191.000000  3197.000000  3161.250000
395  2022-12-02  ASIANPAINT  3173.149902  3174.300049  3134.000000

           Close    Adj Close    Volume
0     761.400024   750.901001  25953577
1     768.750000   758.149658  31400296
2     738.099976   727.922302  29426971
3     740.799988   730.585083  11926793
4     767.750000   757.163452  20782117
..           ...          ...       ...
391  3151.199951  3151.199951    914689
392  3135.050049  3135.050049    877720
393  3175.149902  3175.149902   2547283
394  3179.350098  3179.350098    761717
395  3143.449951  3143.449951    932259

[792 rows x 8 columns]

In [313]:
def nifty_df(ls):
    import pandas as pd
    tab=pd.DataFrame()
    i=0
    for i in range(len(ls)-1):
        tab =pd.concat([tab,scrip_lastyear(ls[i])])
    return tab

In [314]:
out=nifty_df(ls)

In [315]:
print(out.head())

         Date      Symbol        Open        High         Low       Close  \
0  2021-05-03  ADANIPORTS  727.650024  764.000000  713.750000  761.400024
1  2021-05-04  ADANIPORTS  779.849976  782.000000  760.049988  768.750000
2  2021-05-05  ADANIPORTS  772.000000  774.799988  732.700012  738.099976
3  2021-05-06  ADANIPORTS  745.000000  753.700012  735.599976  740.799988
4  2021-05-07  ADANIPORTS  747.700012  778.000000  745.250000  767.750000

    Adj Close    Volume
0  750.901001  25953577
1  758.149658  31400296
2  727.922302  29426971
3  730.585083  11926793
4  757.163452  20782117

In [316]:
out.size

152064

In [317]:
out.shape

(19008, 8)

In [318]:
out = out.reset_index(drop=True)

In [319]:
out.to_excel("output.xlsx")

In [320]:
stockcode ='SBIN'

ts1 = str(int(datetime.datetime(2021, 4, 30).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 4).timestamp()))

#interval = '1d'
interval = '1wk'
#interval = '1mo'

events = 'history'
#events = 'div'
#events = 'split'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/SBIN.NS?period1=1619766000&period2=1667545200&interval=1wk&events=history
1619766000 1667545200

In [321]:
print(ls)

0     ADANIPORTS
1     ASIANPAINT
2       AXISBANK
3     BAJAJ-AUTO
4     BAJAJFINSV
5     BAJFINANCE
6     BHARTIARTL
7           BPCL
8      BRITANNIA
9          CIPLA
10     COALINDIA
11       DRREDDY
12     EICHERMOT
13          GAIL
14        GRASIM
15       HCLTECH
16          HDFC
17      HDFCBANK
18    HEROMOTOCO
19      HINDALCO
20    HINDUNILVR
21     ICICIBANK
22    INDUSINDBK
23          INFY
24           IOC
25           ITC
26      JSWSTEEL
27     KOTAKBANK
28            LT
29           M&M
30        MARUTI
31     NESTLEIND
32          NTPC
33          ONGC
34     POWERGRID
35      RELIANCE
36          SBIN
37      SHREECEM
38     SUNPHARMA
39    TATAMOTORS
40     TATASTEEL
41           TCS
42         TECHM
43         TITAN
44    ULTRACEMCO
45           UPL
46          VEDL
47         WIPRO
48          ZEEL
Name: Symbol, dtype: object

In [322]:
try:
    stockdata = pd.read_csv(url)
    print(stockdata)
except:
    print("Not able to fetch value for code : "+stockcode)
    print("Either stock code is not correct or could be connectivity issue..")

          Date        Open        High         Low       Close   Adj Close  \
0   2021-04-26  353.450012  362.500000  350.450012  353.500000  344.883850
1   2021-05-03  349.600006  362.899994  341.399994  358.250000  349.518097
2   2021-05-10  360.500000  373.500000  354.750000  360.450012  351.664490
3   2021-05-17  364.399994  404.399994  363.649994  401.200012  391.421234
4   2021-05-24  417.000000  433.649994  405.299988  422.049988  411.763031
..         ...         ...         ...         ...         ...         ...
75  2022-10-03  527.599976  541.799988  518.500000  530.200012  530.200012
76  2022-10-10  525.700012  535.000000  520.200012  527.200012  527.200012
77  2022-10-17  526.400024  565.799988  524.200012  560.849976  560.849976
78  2022-10-24  567.000000  586.200012  565.900024  570.750000  570.750000
79  2022-10-31  574.950012  596.950012  568.000000  593.950012  593.950012

       Volume
0    53832840
1   216965713
2   188790854
3   461372459
4   389900463
..        ...
75   38669678
76   50515580
77   66459940
78   47248566
79   75522687

[80 rows x 7 columns]

####