In [114]:
import datetime
import pandas as pd

In [115]:
d=""

In [116]:
def scrip_lastyear(stockcode):
    import datetime
    import pandas as pd
    ts1 = str(int(datetime.datetime(2021, 4, 20).timestamp())) 
    ts2 = str(int(datetime.datetime(2022, 12, 4).timestamp()))

    #interval = '1d'
    interval = '1wk'
    #interval = '1mo'

    events = 'history'
    #events = 'div'
    #events = 'split'

    url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
          + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
          + interval + '&events=' + events

    df = pd.read_csv(url)
    
    df.insert(0,'Symbol',"")
    df['Symbol']=stockcode
    
    #print (ts1, ts2)

In [117]:
scrip_lastyear("SBIN")

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-04-19,335.100006,339.899994,323.299988,336.450012,328.249451,134625920
1,2021-04-26,339.250000,369.950012,339.250000,353.500000,344.883881,269460029
2,2021-05-03,349.600006,362.899994,341.399994,358.250000,349.518097,216965713
3,2021-05-10,360.500000,373.500000,354.750000,360.450012,351.664459,188790854
4,2021-05-17,364.399994,404.399994,363.649994,401.200012,391.421234,461372459
...,...,...,...,...,...,...,...
81,2022-11-07,613.000000,622.700012,598.500000,601.299988,601.299988,90349429
82,2022-11-14,603.950012,605.750000,591.650024,602.700012,602.700012,55900240
83,2022-11-21,602.099976,613.700012,595.349976,607.400024,607.400024,46851483
84,2022-11-28,605.599976,611.799988,598.400024,607.549988,607.549988,52226574
85,2022-12-02,607.500000,609.599976,604.250000,607.549988,607.549988,7531618

In [118]:
type(scrip_lastyear("SBIN"))

pandas.core.frame.DataFrame

In [119]:
ls=pd.read_excel("nifty_Symbols.xlsx")

In [120]:
print(type(ls))

<class 'pandas.core.frame.DataFrame'>

In [121]:
ls=ls.squeeze()
print(type(ls))

<class 'pandas.core.series.Series'>

In [122]:
range(len(ls))

range(0, 49)

In [123]:
ls[0]

'ADANIPORTS'

In [124]:
scrip_lastyear(ls[0])

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-04-19,744.700012,746.900024,689.500000,725.349976,715.348083,66591152
1,2021-04-26,733.000000,765.849976,724.500000,730.049988,719.983276,67573477
2,2021-05-03,727.650024,782.000000,713.750000,767.750000,757.163452,119489754
3,2021-05-10,774.400024,789.700012,727.500000,733.549988,723.434998,43670761
4,2021-05-17,740.000000,791.900024,737.000000,769.200012,758.593445,50054715
...,...,...,...,...,...,...,...
81,2022-11-07,867.200012,907.799988,845.549988,894.500000,894.500000,46767717
82,2022-11-14,895.000000,916.000000,874.400024,888.900024,888.900024,40408482
83,2022-11-21,885.000000,888.000000,866.650024,879.599976,879.599976,27084682
84,2022-11-28,876.000000,903.599976,873.299988,888.200012,888.200012,22400064
85,2022-12-02,894.000000,903.599976,884.250000,888.200012,888.200012,6278341

In [125]:
print(pd.concat([scrip_lastyear(ls[0]),scrip_lastyear(ls[1])]))

          Date         Open         High          Low        Close  \
0   2021-04-19   744.700012   746.900024   689.500000   725.349976
1   2021-04-26   733.000000   765.849976   724.500000   730.049988
2   2021-05-03   727.650024   782.000000   713.750000   767.750000
3   2021-05-10   774.400024   789.700012   727.500000   733.549988
4   2021-05-17   740.000000   791.900024   737.000000   769.200012
..         ...          ...          ...          ...          ...
81  2022-11-07  3186.000000  3198.000000  3033.500000  3055.399902
82  2022-11-14  3056.000000  3114.850098  3041.050049  3095.500000
83  2022-11-21  3105.000000  3120.250000  3066.199951  3108.149902
84  2022-11-28  3108.149902  3199.949951  3096.699951  3143.449951
85  2022-12-02  3173.149902  3174.300049  3134.000000  3143.449951

      Adj Close     Volume
0    715.348083   66591152
1    719.983276   67573477
2    757.163452  119489754
3    723.434998   43670761
4    758.593445   50054715
..          ...        ...
81  3055.399902    5246571
82  3095.500000    4421342
83  3108.149902    3335255
84  3143.449951    6033668
85  3143.449951     931678

[172 rows x 7 columns]

In [126]:
def nifty_df(ls):
    import pandas as pd
    tab=pd.DataFrame()
    i=0
    for i in range(len(ls)-1):
        tab =pd.concat([tab,scrip_lastyear(ls[i])])
    return tab

In [127]:
out=nifty_df(ls)

In [128]:
print(out.head())

         Date        Open        High     Low       Close   Adj Close  \
0  2021-04-19  744.700012  746.900024  689.50  725.349976  715.348083
1  2021-04-26  733.000000  765.849976  724.50  730.049988  719.983276
2  2021-05-03  727.650024  782.000000  713.75  767.750000  757.163452
3  2021-05-10  774.400024  789.700012  727.50  733.549988  723.434998
4  2021-05-17  740.000000  791.900024  737.00  769.200012  758.593445

      Volume
0   66591152
1   67573477
2  119489754
3   43670761
4   50054715

In [129]:
out.size

28896

In [130]:
out.shape

(4128, 7)

In [131]:
out.to_excel("output.xlsx")

In [132]:
stockcode ='SBIN'

ts1 = str(int(datetime.datetime(2021, 4, 30).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 4).timestamp()))

#interval = '1d'
interval = '1wk'
#interval = '1mo'

events = 'history'
#events = 'div'
#events = 'split'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/SBIN.NS?period1=1619766000&period2=1667545200&interval=1wk&events=history
1619766000 1667545200

In [133]:
print(ls)

0     ADANIPORTS
1     ASIANPAINT
2       AXISBANK
3     BAJAJ-AUTO
4     BAJAJFINSV
5     BAJFINANCE
6     BHARTIARTL
7           BPCL
8      BRITANNIA
9          CIPLA
10     COALINDIA
11       DRREDDY
12     EICHERMOT
13          GAIL
14        GRASIM
15       HCLTECH
16          HDFC
17      HDFCBANK
18    HEROMOTOCO
19      HINDALCO
20    HINDUNILVR
21     ICICIBANK
22    INDUSINDBK
23          INFY
24           IOC
25           ITC
26      JSWSTEEL
27     KOTAKBANK
28            LT
29           M&M
30        MARUTI
31     NESTLEIND
32          NTPC
33          ONGC
34     POWERGRID
35      RELIANCE
36          SBIN
37      SHREECEM
38     SUNPHARMA
39    TATAMOTORS
40     TATASTEEL
41           TCS
42         TECHM
43         TITAN
44    ULTRACEMCO
45           UPL
46          VEDL
47         WIPRO
48          ZEEL
Name: Symbol, dtype: object

In [134]:
try:
    stockdata = pd.read_csv(url)
    print(stockdata)
except:
    print("Not able to fetch value for code : "+stockcode)
    print("Either stock code is not correct or could be connectivity issue..")

          Date        Open        High         Low       Close   Adj Close  \
0   2021-04-26  353.450012  362.500000  350.450012  353.500000  344.883850
1   2021-05-03  349.600006  362.899994  341.399994  358.250000  349.518097
2   2021-05-10  360.500000  373.500000  354.750000  360.450012  351.664490
3   2021-05-17  364.399994  404.399994  363.649994  401.200012  391.421234
4   2021-05-24  417.000000  433.649994  405.299988  422.049988  411.763031
..         ...         ...         ...         ...         ...         ...
75  2022-10-03  527.599976  541.799988  518.500000  530.200012  530.200012
76  2022-10-10  525.700012  535.000000  520.200012  527.200012  527.200012
77  2022-10-17  526.400024  565.799988  524.200012  560.849976  560.849976
78  2022-10-24  567.000000  586.200012  565.900024  570.750000  570.750000
79  2022-10-31  574.950012  596.950012  568.000000  593.950012  593.950012

       Volume
0    53832840
1   216965713
2   188790854
3   461372459
4   389900463
..        ...
75   38669678
76   50515580
77   66459940
78   47248566
79   75522687

[80 rows x 7 columns]